
/*for testing*/
* {
  /* border: 1px dotted green; */
}

/*index header css*/
.twf-header {
  margin-bottom: 30px;
}
.header-title {
  margin: 30px 0;
}

/*stats css*/
.stats-btn {
  padding: 30px 20px !important;
}
.stats-chart-view {
  height: 410px;
}

/*/trivia/play css*/
.play-trivia-view {
  padding: 20px 0;
  border-radius: 4px;
}
.play-trivia-btn {
  font-size: 36px;
  padding: 24px 0;
}
.play-trivia-row {
  margin: 15px 0;
}
.play-trivia-question-panel {
  box-shadow: none;
}
.play-trivia-previous-question-panel {
  background-color: #697683;
  text-align: center;
}

.play-trivia-previous-question-panel h5{
  font-weight: 500;
}
.play-trivia-question-txt {
  line-height: 180%;
  margin: 0;
}
.play-trivia-answer-input {
  letter-spacing: 1px;
  font-size: 18px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

/*trivia endgame css*/
.endgame-summary-col {
  margin-top: 50px;
}
.endgame-summary-table {
  margin: 10px 0;
  font-size: 16px;
}

/*/signin and /signout css*/
.signin-margin, .signup-margin {
  margin: 5px 0;
}

/*profile css*/
.profile-user-info {
  padding-left: 30px;
  font-size: 14px;
}
.profile-user-header {
  margin-top: 10px;
}
.profile-user-table {
  font-size: 16px;
}

/*utility css*/
.pointer {
  cursor: pointer;
}

.statswrapper {
  height: 100%;
}


circle {
  fill:silver;
}

circle {
  fill:snow;
}
.opponents {
  /* border: 1px solid white; */
  background-image: url("http://ak.picdn.net/shutterstock/videos/390712/preview/stock-footage-liquid-splashing-against-dark-blue-gradient-bg-alpha-included.jpg");
  background-size: 100%, 100%;
  background-repeat: no-repeat;
}

circle:hover {
  fill:gold;
}

svg g path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.x.axis line {
  stroke: lightgrey;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.graph {
  /* position:absolute; */
  /* top:0px; */
  /* left:0; */
  /* float:left; */
  /* margin-bottom: 5px; */
}
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.x.axis line {
  stroke: lightgrey;
}

/*.x.axis .minor {
  stroke-opacity: .5;
}*/

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: aliceblue;
}

path.path {
    fill: none;
    stroke: aliceblue;
    stroke-width: 3px;
}

text.x.label, text.y.label {
    font-size: 40px;
    stroke: aliceblue;
    fill: aliceblue;
}

g text {
    fill: aliceblue;
}

.graphtitle {
  font-size: 20px;
}


