<div>
  <div class="play-trivia-view col-md-6 col-md-offset-3">

    <div class="col-md-12">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Final Score: {{player.score}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-default btn-lg text-center"
            ui-sref="trivia.play"
            ui-sref-opts="{reload: true}"
            ng-init="clicked=false"
            ng-click="clicked=!clicked"
            ng-show="clicked===false">
            Play again?
          </a>
        </div>
      </div>

      
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="row">
            <div class="endgame-summary-col col-md-6 col-md-offset-3">

              <!-- winner identity -->
              <div class="lead">
                {{ winner.username === player.username ? "You win!" : winner.username + " wins!" }}
              </div>

              <!-- all scores -->
              <span class="lead">All Scores</span>
              <table class="endgame-summary-table table table-hover text-left">
                <tr>
                  <th>Username</th>
                  <th>Scores</th>
                </tr>
                <tr>
                  <td class="col-md-8">{{ player.username }}</td>
                  <td class="text-right">{{ player.score }}</td>         
                </tr>
                <tr ng-repeat="opponent in opponents">
                  <td class="col-md-8">{{ opponent.username }}</td>
                  <td class="text-right">{{ opponent.score }}</td>
                </tr>
              </table>

              <!-- player's game summary -->
              <span class="lead">Your Game Summary</span>
              <table class="endgame-summary-table table table-hover text-left">
                <tr>
                  <td class="col-md-8">
                    XP Earned:
                  </td>
                  <td class="text-right">
                    {{score}}
                  </td>
                </tr>

                <tr>
                  <td>
                    Questions Answered:
                  </td>
                  <td class="text-right">
                    {{answered}}
                  </td>
                </tr>

                <tr>
                  <td>
                    Correct Answers:
                  </td>
                  <td class="text-right">
                    {{correct}}
                  </td>
                </tr>

                <tr>
                  <td>
                    Correct Streak:
                  </td>
                  <td class="text-right">
                    {{correctStreak}}
                  </td>
                </tr>

              </table>

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
