<div class="q" ng-model='q'>
  <div class="play-trivia-view col-md-6 col-md-offset-3 well"
    ng-show="$index===navLoc">

    <div class="col-md-12 text-left">
      <div class="row play-trivia-row">
        <div class="col-md-6">
          <h4>Time left: {{counter}}</h4>
          <h4>Question {{ questionNumber }} out of {{ numberOfQuestions }} questions</h4>
        </div>
        <div class="col-md-6 text-right">
          <h4>Your Score:</h4>
          <h5> 
            {{player.username}}: {{player.score}}
          </h5>
          <h4>Opponent Scores:</h4>
          <h5 ng-repeat="opponent in opponents"> 
            {{opponent.username}}: {{opponent.score}}
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="play-trivia-question-panel panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">
                Category: {{question.category.title}}
              </h3>
            </div>
            <div class="panel-body">
              <h4 class="play-trivia-question-txt">
                {{question.question}}
              </h4>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row play-trivia-row">
        <div class="col-md-8 col-md-offset-2">
          <input type='text'
            class="form-control input-lg play-trivia-answer-input"
            placeholder="{{q.clue}}"
            ng-keypress="checkAnswer($event, q)"
            ng-model="q.userAnswer"
            autofocus>
          </input>
          <div class="error" ng-show="error">{{ error }}</div>
        </div>
      </div>

      <div class="row" ng-show="prevQuest">
        <div class="col-md-10 col-md-offset-1">
          <div class="play-trivia-previous-question-panel panel panel-primary">
            <div class="panel-body">
              <h4>Previous Question</h5>
              <h5>Category</h5> 
                <h6>{{prevQuest.category.title}}</h6>
              <h5>Question</h5> 
                <h6 class="play-trivia-question-txt">{{ prevQuest.question }}</h6>
              <h5>Answer</h5>
                <h6>{{ prevQuest.answer }}</h6>
              <h5>Correct guesser</h5>
                <h6>{{ prevQuest.winner }}</h6>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
